body{
    margin: 0;
    min-height: 35%;
    display: flex;
    flex-direction: column;
}
.titolo{
    color: green;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    padding-top: 3px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    padding-bottom: 3px;
    padding: 10px;
    text-align: center;
}

.sotto_titolo{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 1.5px;
    padding-bottom: 3px;
    text-align: center;
}

.contenuto{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 4px;
    font-size: 15px;
    color: black;
    font-style: normal;
    text-align: left;    
}


.contenuto h3{
    margin-top: 0;
    color: #0096c7;
}

.grande_contenuto{
    border-left: 4px solid lightblue;
    padding-left: 10px;
    border-radius: 4px;
}
.contenitore{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 10px;
}

.sotto_titolo_contenuto{
    color: black;
    font-size: 15px;
    font-style: oblique;
    padding-left: 10px;
    padding: 1.5px;
    text-align: left;
    margin-bottom: 0px;
}

.titolo_contenuto{
    color: green;
    font-size: 17px;
    font-style: normal;
    padding-top: 2.5px;
    padding-left: 5px;
    padding-right: 1.5px;
    padding-bottom: 2.5px;

}

.img_secondario{
    border: 1px solid black;
    width: 70%;
    height: auto;
    max-height: 300px;
    max-width: 700px;
}

.immagine{
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 700px;
}

.container { 
    display: flex; justify-content: center;
    align-items: center; 
    height: 100vh;
} 

.center-img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  
}

.hotel-città{
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.hotel {
    margin-bottom: 25px;
    padding: 15px;
    border-left: 4px solid lightblue;
    font-size: 15px;
    border-radius: 4px;
}

.hotel h3 {
    margin-top: 0;
    color: #0096c7;
}


.titolo_footer{
    place-content: bottom;
    color: black;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

.content_footer{
    place-content: bottom;
    padding: 0%;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 9px;
    text-align: left;
    color: #333;
}